* {
    background-color: #0f0f0f;
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-underline-offset: 3px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-container {
    width: 100%;
    max-width: calc(800px - (30px * 2));
    margin: 0 auto;
    padding: 0 1.25rem;
    box-sizing: border-box;
}

a {
    color: #a5a5a5;
}

a:hover {
    text-decoration: underline dotted;
    color: #fff;
}

.nav-container {
    width: 10vw;
    height: 100vh;
    margin: 0 20px 10px 0;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

    position: fixed;
}

.nav-container h4 {
    margin-bottom: 5px;
}

img {
    max-width: 100%;
    height: auto;
}

.content-container {
  margin-left: 15vw;
  height: fit-content;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {margin: 10px;}

.footer {
  text-align: center;
  padding: 8px;
}

.mobile-hr {display: none;}